<!--------------------------------------------englih learn-->
<div class="english">
    <div class="english__blocks" id="1">
        <img src="./assets/images/robot1.png" alt="">
        <div class="english__voice">

            <svg viewBox="0 0 32 32">
                <g  data-name="Layer 34" id="Layer_34"><path  class="cls-1" d="M18,29a1,1,0,0,1-.57-.18l-10-7A1,1,0,0,1,7,21V11a1,1,0,0,1,.43-.82l10-7a1,1,0,0,1,1-.07A1,1,0,0,1,19,4V28a1,1,0,0,1-.54.89A1,1,0,0,1,18,29ZM9,20.48l8,5.6V5.92l-8,5.6Z"/>
                    <path class="cls-1" d="M8,22H4a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H8a1,1,0,0,1,1,1V21A1,1,0,0,1,8,22ZM4,12a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H7V12Z"/>
                    <path class="cls-1" d="M18,21V19a3,3,0,0,0,2.12-5.12l1.42-1.42A5,5,0,0,1,18,21Z"/>
                    <path class="cls-1" d="M26.48,25.48a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42,11,11,0,0,0,0-15.54,1,1,0,1,1,1.42-1.42,13,13,0,0,1,0,18.38A1,1,0,0,1,26.48,25.48Z"/>
                    <path class="cls-1" d="M23.65,22.65a1,1,0,0,1-.7-.29A1,1,0,0,1,23,21a7,7,0,0,0,0-9.9,1,1,0,0,1,1.41-1.41,9,9,0,0,1,0,12.72A1,1,0,0,1,23.65,22.65Z"/>
                </g>
            </svg>
            <h2 class="english__words">
                words
            </h2>

        </div>

    </div>

    <div class="english__blocks" id="2">
        <img src="./assets/images/robot1.png" alt="">
        <div class="english__voice">

            <svg viewBox="0 0 32 32">
                <g  data-name="Layer 34" id="Layer_34"><path  class="cls-1" d="M18,29a1,1,0,0,1-.57-.18l-10-7A1,1,0,0,1,7,21V11a1,1,0,0,1,.43-.82l10-7a1,1,0,0,1,1-.07A1,1,0,0,1,19,4V28a1,1,0,0,1-.54.89A1,1,0,0,1,18,29ZM9,20.48l8,5.6V5.92l-8,5.6Z"/>
                    <path class="cls-1" d="M8,22H4a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H8a1,1,0,0,1,1,1V21A1,1,0,0,1,8,22ZM4,12a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H7V12Z"/>
                    <path class="cls-1" d="M18,21V19a3,3,0,0,0,2.12-5.12l1.42-1.42A5,5,0,0,1,18,21Z"/>
                    <path class="cls-1" d="M26.48,25.48a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42,11,11,0,0,0,0-15.54,1,1,0,1,1,1.42-1.42,13,13,0,0,1,0,18.38A1,1,0,0,1,26.48,25.48Z"/>
                    <path class="cls-1" d="M23.65,22.65a1,1,0,0,1-.7-.29A1,1,0,0,1,23,21a7,7,0,0,0,0-9.9,1,1,0,0,1,1.41-1.41,9,9,0,0,1,0,12.72A1,1,0,0,1,23.65,22.65Z"/>
                </g>
            </svg>
            <h2 class="english__words">
                words
            </h2>

        </div>
    </div>

    <div class="english__blocks" id="3">
        <img src="./assets/images/robot1.png" alt="">
        <div class="english__voice">

            <svg viewBox="0 0 32 32">
                <g  data-name="Layer 34" id="Layer_34"><path  class="cls-1" d="M18,29a1,1,0,0,1-.57-.18l-10-7A1,1,0,0,1,7,21V11a1,1,0,0,1,.43-.82l10-7a1,1,0,0,1,1-.07A1,1,0,0,1,19,4V28a1,1,0,0,1-.54.89A1,1,0,0,1,18,29ZM9,20.48l8,5.6V5.92l-8,5.6Z"/>
                    <path class="cls-1" d="M8,22H4a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H8a1,1,0,0,1,1,1V21A1,1,0,0,1,8,22ZM4,12a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H7V12Z"/>
                    <path class="cls-1" d="M18,21V19a3,3,0,0,0,2.12-5.12l1.42-1.42A5,5,0,0,1,18,21Z"/>
                    <path class="cls-1" d="M26.48,25.48a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42,11,11,0,0,0,0-15.54,1,1,0,1,1,1.42-1.42,13,13,0,0,1,0,18.38A1,1,0,0,1,26.48,25.48Z"/>
                    <path class="cls-1" d="M23.65,22.65a1,1,0,0,1-.7-.29A1,1,0,0,1,23,21a7,7,0,0,0,0-9.9,1,1,0,0,1,1.41-1.41,9,9,0,0,1,0,12.72A1,1,0,0,1,23.65,22.65Z"/>
                </g>
            </svg>
            <h2 class="english__words">
                words
            </h2>

        </div>
    </div>

    <div class="english__blocks" id="4">
        <img src="./assets/images/robot1.png" alt="">
        <div class="english__voice">

            <svg viewBox="0 0 32 32">
                <g  data-name="Layer 34" id="Layer_34"><path  class="cls-1" d="M18,29a1,1,0,0,1-.57-.18l-10-7A1,1,0,0,1,7,21V11a1,1,0,0,1,.43-.82l10-7a1,1,0,0,1,1-.07A1,1,0,0,1,19,4V28a1,1,0,0,1-.54.89A1,1,0,0,1,18,29ZM9,20.48l8,5.6V5.92l-8,5.6Z"/>
                    <path class="cls-1" d="M8,22H4a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H8a1,1,0,0,1,1,1V21A1,1,0,0,1,8,22ZM4,12a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H7V12Z"/>
                    <path class="cls-1" d="M18,21V19a3,3,0,0,0,2.12-5.12l1.42-1.42A5,5,0,0,1,18,21Z"/>
                    <path class="cls-1" d="M26.48,25.48a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42,11,11,0,0,0,0-15.54,1,1,0,1,1,1.42-1.42,13,13,0,0,1,0,18.38A1,1,0,0,1,26.48,25.48Z"/>
                    <path class="cls-1" d="M23.65,22.65a1,1,0,0,1-.7-.29A1,1,0,0,1,23,21a7,7,0,0,0,0-9.9,1,1,0,0,1,1.41-1.41,9,9,0,0,1,0,12.72A1,1,0,0,1,23.65,22.65Z"/>
                </g>
            </svg>
            <h2 class="english__words">
                words
            </h2>

        </div>
    </div>
</div>

<div class="btn-block__english">
    <a class="english__btn"> I learned, Next!
    </a>
</div>
<!--------------------------------------------/english learn-->

<!--------------------------------------------math learn-->


<!--------------------------------------------/math learn-->


<!--English Test-->



<!--/English Test-->

<!--after sicssuesfull fnished-->

<div class="finish">
    <div class="finish__block">
        <div class="finish__text">
            <h2>Ура!!! Здорово!!! Ты просто супер!!!</h2>
        </div>
        <div class="finish__img">
            <img src="./assets/images/imgbin_binary-option-automated-trading-system-aerobot-computer-program-png.png" alt="">
        </div>

    </div>

    <div class="finish__botton">
        <a href=""><img src="./assets/images/house_home_icon_181525.ico" alt=""></a>
        <a href=""><img src="./assets/images/Button_Next-01_25123.ico" alt=""></a>
    </div>
</div>

<!--a/fter sicssuesfull fnished-->
<!--after badly fnished-->
<div class="finish badly">
    <div class="finish__block">
        <div class="finish__img">
            <img src="./assets/images/pngwing.com 2.png" alt="">
        </div>
        <div class="finish__text">
            <h2>Давай еще разок попробуем!!!</h2>
        </div>

    </div>

    <div class="finish__botton">
        <a><img src="./assets/images/house_home_icon_181525.ico" alt=""></a>
        <a><img src="./assets/images/Button_Next-01_25123.ico" alt=""></a>
    </div>
</div>
<!--/after badly fnished-->