<!-- <header class="header">
    <div class="header__logo">
        <a href="#">
            <img class="header__img" src="./assets/images/3333-[Converted] 1.png">
        </a>
        <a href="#">
            <p class="header__name">Young Genius</p>
        </a>
    </div>


    <div class="header__btn">
        <div class="header__button--back">
            <a href="#">Back</a>
        </div>
        <a href="#" class="btn__test">
            <p>Test</p>
        </a>


    </div>



</header>




<div class="home">
    <img src="./assets/images/Frame2.png" alt="">
    <div class="home__start">
        <button class="home__btn--start" id="02">Start</button>
    </div>
</div>
<!--Home page-->


<!--test-->
<!-- <div class="test-english">
    <div class="test-english__count">
        <h2 class="count">Answers<b class="test-english__answer">0</b> Mistakes<b class="test-english__mistake">0</b> Correct<b class="test-english__correct">0</b> </h2>
    </div>
    <div class="test-english__img">
        <img src="./assets/images/imgbin_binary-option-automated-trading-system-aerobot-computer-program-png.png" alt="">
    </div>
    <ul class="test-english__choose">
        <li id="test1">
            <span>word</span>
            <svg viewBox="0 0 32 32">
                <g  data-name="Layer" id=""><path  class="cls-1" d="M18,29a1,1,0,0,1-.57-.18l-10-7A1,1,0,0,1,7,21V11a1,1,0,0,1,.43-.82l10-7a1,1,0,0,1,1-.07A1,1,0,0,1,19,4V28a1,1,0,0,1-.54.89A1,1,0,0,1,18,29ZM9,20.48l8,5.6V5.92l-8,5.6Z"/>
                    <path class="cls-1" d="M8,22H4a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H8a1,1,0,0,1,1,1V21A1,1,0,0,1,8,22ZM4,12a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H7V12Z"/>
                    <path class="cls-1" d="M18,21V19a3,3,0,0,0,2.12-5.12l1.42-1.42A5,5,0,0,1,18,21Z"/>
                    <path class="cls-1" d="M26.48,25.48a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42,11,11,0,0,0,0-15.54,1,1,0,1,1,1.42-1.42,13,13,0,0,1,0,18.38A1,1,0,0,1,26.48,25.48Z"/>
                    <path class="cls-1" d="M23.65,22.65a1,1,0,0,1-.7-.29A1,1,0,0,1,23,21a7,7,0,0,0,0-9.9,1,1,0,0,1,1.41-1.41,9,9,0,0,1,0,12.72A1,1,0,0,1,23.65,22.65Z"/>
                </g>
            </svg>
        </li>
        <li id="test2">
            <span>word</span>
            <svg viewBox="0 0 32 32">
                <g  data-name="Layer" id=""><path  class="cls-1" d="M18,29a1,1,0,0,1-.57-.18l-10-7A1,1,0,0,1,7,21V11a1,1,0,0,1,.43-.82l10-7a1,1,0,0,1,1-.07A1,1,0,0,1,19,4V28a1,1,0,0,1-.54.89A1,1,0,0,1,18,29ZM9,20.48l8,5.6V5.92l-8,5.6Z"/>
                    <path class="cls-1" d="M8,22H4a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H8a1,1,0,0,1,1,1V21A1,1,0,0,1,8,22ZM4,12a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H7V12Z"/>
                    <path class="cls-1" d="M18,21V19a3,3,0,0,0,2.12-5.12l1.42-1.42A5,5,0,0,1,18,21Z"/>
                    <path class="cls-1" d="M26.48,25.48a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42,11,11,0,0,0,0-15.54,1,1,0,1,1,1.42-1.42,13,13,0,0,1,0,18.38A1,1,0,0,1,26.48,25.48Z"/>
                    <path class="cls-1" d="M23.65,22.65a1,1,0,0,1-.7-.29A1,1,0,0,1,23,21a7,7,0,0,0,0-9.9,1,1,0,0,1,1.41-1.41,9,9,0,0,1,0,12.72A1,1,0,0,1,23.65,22.65Z"/>
                </g>
            </svg>
        </li>
        <li id="test3">
            <span>word</span>
            <svg viewBox="0 0 32 32">
                <g  data-name="Layer" id=""><path  class="cls-1" d="M18,29a1,1,0,0,1-.57-.18l-10-7A1,1,0,0,1,7,21V11a1,1,0,0,1,.43-.82l10-7a1,1,0,0,1,1-.07A1,1,0,0,1,19,4V28a1,1,0,0,1-.54.89A1,1,0,0,1,18,29ZM9,20.48l8,5.6V5.92l-8,5.6Z"/>
                    <path class="cls-1" d="M8,22H4a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H8a1,1,0,0,1,1,1V21A1,1,0,0,1,8,22ZM4,12a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H7V12Z"/>
                    <path class="cls-1" d="M18,21V19a3,3,0,0,0,2.12-5.12l1.42-1.42A5,5,0,0,1,18,21Z"/>
                    <path class="cls-1" d="M26.48,25.48a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42,11,11,0,0,0,0-15.54,1,1,0,1,1,1.42-1.42,13,13,0,0,1,0,18.38A1,1,0,0,1,26.48,25.48Z"/>
                    <path class="cls-1" d="M23.65,22.65a1,1,0,0,1-.7-.29A1,1,0,0,1,23,21a7,7,0,0,0,0-9.9,1,1,0,0,1,1.41-1.41,9,9,0,0,1,0,12.72A1,1,0,0,1,23.65,22.65Z"/>
                </g>
            </svg>
        </li>
        <li id="test4">
            <span>word</span>
            <svg viewBox="0 0 32 32">
                <g  data-name="Layer" id=""><path  class="cls-1" d="M18,29a1,1,0,0,1-.57-.18l-10-7A1,1,0,0,1,7,21V11a1,1,0,0,1,.43-.82l10-7a1,1,0,0,1,1-.07A1,1,0,0,1,19,4V28a1,1,0,0,1-.54.89A1,1,0,0,1,18,29ZM9,20.48l8,5.6V5.92l-8,5.6Z"/>
                    <path class="cls-1" d="M8,22H4a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H8a1,1,0,0,1,1,1V21A1,1,0,0,1,8,22ZM4,12a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H7V12Z"/>
                    <path class="cls-1" d="M18,21V19a3,3,0,0,0,2.12-5.12l1.42-1.42A5,5,0,0,1,18,21Z"/>
                    <path class="cls-1" d="M26.48,25.48a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42,11,11,0,0,0,0-15.54,1,1,0,1,1,1.42-1.42,13,13,0,0,1,0,18.38A1,1,0,0,1,26.48,25.48Z"/>
                    <path class="cls-1" d="M23.65,22.65a1,1,0,0,1-.7-.29A1,1,0,0,1,23,21a7,7,0,0,0,0-9.9,1,1,0,0,1,1.41-1.41,9,9,0,0,1,0,12.72A1,1,0,0,1,23.65,22.65Z"/>
                </g>
            </svg>
        </li>
        <li class="test-block__btn">
            <button class="test-finish__btn"> Next</button>
        </li>
    </ul>
</div> -->


<!-- <div class="english">
    <div class="english__blocks" id="1">
        <div class="english__img">
            <img src="./assets/images/englishPictures/person.jpg" alt="">
        </div>

        <div class="english__voice">
            <svg viewBox="0 0 32 32">
                <g  data-name="Layer 34" id="Layer_34"><path  class="cls-1" d="M18,29a1,1,0,0,1-.57-.18l-10-7A1,1,0,0,1,7,21V11a1,1,0,0,1,.43-.82l10-7a1,1,0,0,1,1-.07A1,1,0,0,1,19,4V28a1,1,0,0,1-.54.89A1,1,0,0,1,18,29ZM9,20.48l8,5.6V5.92l-8,5.6Z"/>
                    <path class="cls-1" d="M8,22H4a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H8a1,1,0,0,1,1,1V21A1,1,0,0,1,8,22ZM4,12a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H7V12Z"/>
                    <path class="cls-1" d="M18,21V19a3,3,0,0,0,2.12-5.12l1.42-1.42A5,5,0,0,1,18,21Z"/>
                    <path class="cls-1" d="M26.48,25.48a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42,11,11,0,0,0,0-15.54,1,1,0,1,1,1.42-1.42,13,13,0,0,1,0,18.38A1,1,0,0,1,26.48,25.48Z"/>
                    <path class="cls-1" d="M23.65,22.65a1,1,0,0,1-.7-.29A1,1,0,0,1,23,21a7,7,0,0,0,0-9.9,1,1,0,0,1,1.41-1.41,9,9,0,0,1,0,12.72A1,1,0,0,1,23.65,22.65Z"/>
                </g>
            </svg>
            <h2 class="english__words">
                words
            </h2>
        </div>
        <div class="english__block-translater">
            <h3>dasdasdas</h3>
        </div>
    </div>

    <div class="english__blocks" id="2">
        <img src="./assets/images/robot1.png" alt="">
        <div class="english__voice">
            <svg viewBox="0 0 32 32">
                <g  data-name="Layer 34" id="Layer_34"><path  class="cls-1" d="M18,29a1,1,0,0,1-.57-.18l-10-7A1,1,0,0,1,7,21V11a1,1,0,0,1,.43-.82l10-7a1,1,0,0,1,1-.07A1,1,0,0,1,19,4V28a1,1,0,0,1-.54.89A1,1,0,0,1,18,29ZM9,20.48l8,5.6V5.92l-8,5.6Z"/>
                    <path class="cls-1" d="M8,22H4a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H8a1,1,0,0,1,1,1V21A1,1,0,0,1,8,22ZM4,12a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H7V12Z"/>
                    <path class="cls-1" d="M18,21V19a3,3,0,0,0,2.12-5.12l1.42-1.42A5,5,0,0,1,18,21Z"/>
                    <path class="cls-1" d="M26.48,25.48a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42,11,11,0,0,0,0-15.54,1,1,0,1,1,1.42-1.42,13,13,0,0,1,0,18.38A1,1,0,0,1,26.48,25.48Z"/>
                    <path class="cls-1" d="M23.65,22.65a1,1,0,0,1-.7-.29A1,1,0,0,1,23,21a7,7,0,0,0,0-9.9,1,1,0,0,1,1.41-1.41,9,9,0,0,1,0,12.72A1,1,0,0,1,23.65,22.65Z"/>
                </g>
            </svg>
            <h2 class="english__words">
                words
            </h2>
        </div>
        <div class="english__block-translater">
            <h3>dasdasdas</h3>
        </div>
    </div>

    <div class="english__blocks" id="3">
        <img src="./assets/images/robot1.png" alt="">
        <div class="english__voice">
            <svg viewBox="0 0 32 32">
                <g  data-name="Layer 34" id="Layer_34"><path  class="cls-1" d="M18,29a1,1,0,0,1-.57-.18l-10-7A1,1,0,0,1,7,21V11a1,1,0,0,1,.43-.82l10-7a1,1,0,0,1,1-.07A1,1,0,0,1,19,4V28a1,1,0,0,1-.54.89A1,1,0,0,1,18,29ZM9,20.48l8,5.6V5.92l-8,5.6Z"/>
                    <path class="cls-1" d="M8,22H4a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H8a1,1,0,0,1,1,1V21A1,1,0,0,1,8,22ZM4,12a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H7V12Z"/>
                    <path class="cls-1" d="M18,21V19a3,3,0,0,0,2.12-5.12l1.42-1.42A5,5,0,0,1,18,21Z"/>
                    <path class="cls-1" d="M26.48,25.48a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42,11,11,0,0,0,0-15.54,1,1,0,1,1,1.42-1.42,13,13,0,0,1,0,18.38A1,1,0,0,1,26.48,25.48Z"/>
                    <path class="cls-1" d="M23.65,22.65a1,1,0,0,1-.7-.29A1,1,0,0,1,23,21a7,7,0,0,0,0-9.9,1,1,0,0,1,1.41-1.41,9,9,0,0,1,0,12.72A1,1,0,0,1,23.65,22.65Z"/>
                </g>
            </svg>
            <h2 class="english__words">
                words
            </h2>
        </div>
        <div class="english__block-translater">
            <h3>dasdasdas</h3>
        </div>
    </div>

    <div class="english__blocks" id="4">
        <img src="./assets/images/robot1.png" alt="">
        <div class="english__voice">
            <svg viewBox="0 0 32 32">
                <g  data-name="Layer 34" id="Layer_34"><path  class="cls-1" d="M18,29a1,1,0,0,1-.57-.18l-10-7A1,1,0,0,1,7,21V11a1,1,0,0,1,.43-.82l10-7a1,1,0,0,1,1-.07A1,1,0,0,1,19,4V28a1,1,0,0,1-.54.89A1,1,0,0,1,18,29ZM9,20.48l8,5.6V5.92l-8,5.6Z"/>
                    <path class="cls-1" d="M8,22H4a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H8a1,1,0,0,1,1,1V21A1,1,0,0,1,8,22ZM4,12a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H7V12Z"/>
                    <path class="cls-1" d="M18,21V19a3,3,0,0,0,2.12-5.12l1.42-1.42A5,5,0,0,1,18,21Z"/>
                    <path class="cls-1" d="M26.48,25.48a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42,11,11,0,0,0,0-15.54,1,1,0,1,1,1.42-1.42,13,13,0,0,1,0,18.38A1,1,0,0,1,26.48,25.48Z"/>
                    <path class="cls-1" d="M23.65,22.65a1,1,0,0,1-.7-.29A1,1,0,0,1,23,21a7,7,0,0,0,0-9.9,1,1,0,0,1,1.41-1.41,9,9,0,0,1,0,12.72A1,1,0,0,1,23.65,22.65Z"/>
                </g>
            </svg>
            <h2 class="english__words">
                words
            </h2>
        </div>
        <div class="english__block-translater">
            <h3>dasdasdas</h3>
        </div>
    </div>
</div>
<div class="btn-block__english">
    <a class="english__btn"> I learned, Next!
    </a>
</div> -->

<!-- <div class="block">
    <div class="block__task" id="1" data-name="english">
        <div class="block__pic">
            <img class="block__flag" src="./assets/images/union-jack-1027896_640.jpg" alt="England">
        </div>

        <div class="block__robot block__left">

            <div class="block__robotText">
                <p data-name="english">
                    Давай поучим английские слова!!! Потом сможем настроить робота!!
                </p>
                <button class="block__btn"> Let's go!</button>
            </div>
            <img class="block__img" src="./assets/images//Group 3.png" alt="robot">
        </div>
    </div>

    <div class="block__task" id="2" data-name="math">
        <div class="block__pic">
            <img class="block__flag" src="./assets/images/Screenshot 2022-03-07 at 20.31 1.png" alt="England">
        </div>

        <div class="block__robot block__left">

            <div class="block__robotText">
                <p data-name="math">
                    А теперь давай учить числа! У нас получится!
                </p>
                <button class="block__math--btn "> Let's go!</button>
            </div>
            <img class="block__img" src="./assets/images//Group 3.png" alt="robot">
        </div>
    </div>


</div> -->


<!-- -Error page
<div class="error">
    <h1 >Сейчас попробуем исправить ошибку 404</h1>
</div>

<div class="error__container">

    <div class="error__error404page">
        <div class="error__newcharacter404">
            <div class="error__chair404"></div>
            <div class="error__leftshoe404"></div>
            <div class="error__rightshoe404"></div>
            <div class="error__legs404"></div>
            <div class="error__torso404">
                <div class="error__body404"></div>
                <div class="error__leftarm404"></div>
                <div class="error__rightarm404"></div>
                <div class="error__head404">
                    <div class="error__eyes404"></div>
                </div>
            </div>
            <div class="error__laptop404"></div>
        </div>
    </div>
</div> -->
<!-- <div class="math__innerText"> -->


<!-- <h1>Давай посчитаем сколько фруктов на картинке</h1> -->

<!-- <div class="math__cartoon">
        <iframe src="https://www.youtube.com/embed/MLMwHoXlYwo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> -->

<!-- <div class="math">
        <div class="math__img">
            <img src="./assets/images/fruits/12 .jpg" alt="">
        </div>

        <div class="math_discribe">
            <div class="math__text">
                <h3>Цифра у нас: </h3>
                <svg viewBox="0 0 32 32">
                    <g  data-name="Layer" id=""><path  class="cls-1" d="M18,29a1,1,0,0,1-.57-.18l-10-7A1,1,0,0,1,7,21V11a1,1,0,0,1,.43-.82l10-7a1,1,0,0,1,1-.07A1,1,0,0,1,19,4V28a1,1,0,0,1-.54.89A1,1,0,0,1,18,29ZM9,20.48l8,5.6V5.92l-8,5.6Z"/>
                        <path class="cls-1" d="M8,22H4a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H8a1,1,0,0,1,1,1V21A1,1,0,0,1,8,22ZM4,12a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1H7V12Z"/>
                        <path class="cls-1" d="M18,21V19a3,3,0,0,0,2.12-5.12l1.42-1.42A5,5,0,0,1,18,21Z"/>
                        <path class="cls-1" d="M26.48,25.48a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42,11,11,0,0,0,0-15.54,1,1,0,1,1,1.42-1.42,13,13,0,0,1,0,18.38A1,1,0,0,1,26.48,25.48Z"/>
                        <path class="cls-1" d="M23.65,22.65a1,1,0,0,1-.7-.29A1,1,0,0,1,23,21a7,7,0,0,0,0-9.9,1,1,0,0,1,1.41-1.41,9,9,0,0,1,0,12.72A1,1,0,0,1,23.65,22.65Z"/>
                    </g>
                </svg>

            </div>

            <p>
                any text which describe about picture
            </p>
            <button class="btn__math">Выучил!!!</button>
        </div>
    </div>
</div> -->-->

<div class="finish">
    <div class="finish__block">
        <div class="finish__text">
            <h2>Не растраивайся! Давай поучим слова и попробуем снова!</h2>
            <div class="finish__picture">
                <img src="./assets/images/never give up.png" alt="">
            </div>

        </div>
        <div class="finish__img">
            <img src="./assets/images/pngwing.com 2.png" alt="">
        </div>

    </div>

    <div class="finish__botton">
        <a href=""><img src="./assets/images/house_home_icon_181525.ico" alt=""></a>
        <a href=""><img src="./assets/images/pngegg.png" alt=""></a>
    </div>
</div>



<div class="finish">
    <div class="finish__block">
        <div class="finish__text">
            <h2>Super!!! You are intelegent!<br> Let's go wath the cartoons!</h2>

            <div class="finish__picture">
                <iframe src="https://www.youtube.com/embed/ehWjYOhiER8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
        <div class="finish__img">
            <img src="./assets/images/imgbin_binary-option-automated-trading-system-aerobot-computer-program-png.png" alt="">
        </div>

    </div>

    <div class="finish__botton">
        <!-- <a href=""><img src="./assets/images/house_home_icon_181525.ico" alt=""></a>
        <a href=""><img src="./assets/images/pngegg.png" alt=""></a> -->
    </div>
</div>